* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #0c0c0c;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.box {
	flex-direction: column;
	max-width: 450px;
	max-height: 650px;
	background: #161616;
	width: 450px;
	height: 650px;
	border-radius: 20px;
}

.box h1 {
	color: #ffffff;
	text-align: center;
	margin-top: 20px;
	font-family: Trebuchet MS;

}

.box p {
	color: white;
	text-align: center;
	margin-top: 170px;
	font-family: Trebuchet MS;
	font-size: 20px;
}

.box button {
	outline: none;
	border: none;
	padding: 20px;
	border-radius: 60px;
	margin: 0 auto;
	display: block;
	margin: 170px auto;
	width: 300px;
	font-size: 1.4em;
	transition: all 0.3s;
	letter-spacing: 0.3em;
	text-align: center;
}

.box button:hover {
	box-shadow: 0 10px 0 #f90;
	transform: translateY(3px);
}


