* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(130deg, #0c0c0c, #191919);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.box {
	flex-direction: column;
	max-width: 350px;
	max-height: 550px;
	width: 450px;
	height: 650px;
	background: linear-gradient(130deg, green, rgb(219, 219, 219));
	border-radius: 20px;
}

.box h1 {
	color: #ffffff;
	text-align: center;
	margin-top: 20px;
	font-family: "Titillium Web", sans-serif;
	letter-spacing: 0.1em;


}

.box p {
	color: white;
	text-align: center;
	margin-top: 50px;
	font-family: Trebuchet MS;
}

.box img {
	width: 200px;
	height: 200px;
	margin: 35% auto;
	display: block;

}

.box button {
	outline: none;
	border: none;
	padding: 20px;
	border-radius: 60px;
	margin: 0 auto;
	display: block;
	margin: -35px auto;
	width: 300px;
	font-size: 1.4em;
	transition: all 0.3s;
	letter-spacing: 0.3em;
	text-align: center;
	background: #191919;
	color: #ffffff;
}

